:root {
  // warna
  --primary-color: #f7931e;
  --second-bg-color: #ffe5c6;
  --bg-card-color: #fff3e6;
  --header-text-color: #432e2d;
  --title-color: #695857;
  --color-discount: #ea4c4c;
  --bg-color-discount: #ffe6e6;
  --border-color: #f7f7f7;
  --white: #fff;
}
