// our offer
section.our-offer {
  padding-top: 3em;
  h3 {
    text-transform: capitalize;
  }
  .right {
    .offer {
      .why-us {
        margin-top: 30px;
        background-color: var(--background-color-secondary);
        padding: 30px;
        border-radius: 40px;
        min-height: 230px;
        .icon {
          img {
            width: 58px;
            height: 58px;
          }
          margin-bottom: 10px;
        }
        .desc {
          margin-top: 25px;
          h4 {
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            text-transform: capitalize;
            color: var(--text-color-primary);
            margin-bottom: 5px;
          }
          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-transform: lowercase;
            color: var(--text-color-secondary);
          }
        }
      }
    }
  }
}

// wedding themes
// section.wedding-themes {
//   .btn-filter {
//     display: flex;
//     margin-bottom: 25px;
//     padding-left: 0;
//     flex-wrap: wrap;

//     li {
//       list-style: none;
//       background: var(--background-color-secondary);
//       margin: 5px;
//       padding: 8px 20px;
//       color: var(--primary-color);
//       letter-spacing: 1px;
//       cursor: pointer;
//       font-size: 14px;
//       -webkit-box-align: center;
//       align-items: center;
//       display: -webkit-box;
//       border-radius: 8px;
//       text-transform: capitalize;

//       &.active {
//         background: var(--primary-color);
//         color: #fff;
//       }
//     }
//   }

//   .product {
//     flex-wrap: wrap;
//     display: flex;
//     // @include media-breakpoint-up(lg) {
//     //   gap: 1em;
//     // }

//     .item-box {
//       position: relative;
//       margin: 5px;
//     }
//     .card-product {
//       @include card-product;
//     }
//   }
// }
